<div id="linksandtags">

<h3>Links</h3>
<ul>
	{% if page.inlink1 %}
	<a href="{{site.baseurl}}{{page.inlink1}}">{{page.inlink1Title}}</a> |
	{% endif %}


	{% if page.exlink1 %}
	<a href="{{site.baseurl}}{{page.exlink1}}">{{page.exlink1Title}}</a>
	{% endif %}


</ul>

<h3>Tags</h3>
<ul>
<tr>
{% for tag in page.tags %}
<td><a href="{{site.baseurl}}/tags#{{ tag }}"> {{ tag }}</a></td> |
{% endfor %}
</tr>
</ul>

<div class="relatedPosts">

<h3>Related Posts</h3>

{% assign maxRelated = 4 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      <div>
      <ul>
      	<li>
      		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} | {{ commonTags }}</a> |
      	</li>
      </ul>
      </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}

</div>


</div>